/* =========================
   Dialog Layout
========================= */

mat-dialog-content {

  padding: 24px 40px !important;

  max-height: none;

  overflow: visible;

}


/* =========================
   Dialog Actions
========================= */

mat-dialog-actions {

  padding: 16px 24px;

}