<div class="overview">
  <div class="overview-section">
    <h3>Status</h3>

    <div class="overview-grid">
      <mat-card class="card-total">
        <h2>{{ total }}</h2>
        <span>Total</span>
      </mat-card>

      <mat-card class="card-pending">
        <h2>{{ pending }}</h2>
        <span>Pending</span>
      </mat-card>

      <mat-card class="card-completed">
        <h2>{{ completed }}</h2>
        <span>Completed</span>
      </mat-card>

      <mat-card class="card-overdue">
        <h2>{{ overdue }}</h2>
        <span>Overdue</span>
      </mat-card>
    </div>
  </div>

  <div class="overview-section">
    <h3>Priority Distribution</h3>

    <div class="overview-grid">
      <mat-card class="card-top">
        <h2>{{ topPriority }}</h2>
        <span>Top</span>
      </mat-card>

      <mat-card class="card-high">
        <h2>{{ highPriority }}</h2>
        <span>High</span>
      </mat-card>

      <mat-card class="card-medium">
        <h2>{{ mediumPriority }}</h2>
        <span>Medium</span>
      </mat-card>

      <mat-card class="card-normal">
        <h2>{{ normalPriority }}</h2>
        <span>Normal</span>
      </mat-card>

      <mat-card class="card-low">
        <h2>{{ lowPriority }}</h2>
        <span>Low</span>
      </mat-card>
    </div>
  </div>
</div>
