@if (loading()) {

  <div class="loading">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

} @else if (task(); as todo) {

  <div class="workspace-content">

    <section class="left">

      <app-todo-info
        [taskId]="todo.id"
        (descriptionChanged)="descriptionChanged.emit($event)"
        (statusChanged)="onLeftStatusChanged($event)">
      </app-todo-info>

    </section>

    <section class="right">

        <mat-tab-group [(selectedIndex)]="selectedTab">

            <mat-tab label="Subtasks">

            <app-todo-details
                [taskId]="todo.id"
                (statusChanged)="onRightStatusChanged($event)">
            </app-todo-details>

            </mat-tab>
            <mat-tab label="Dependencies">

              <app-task-dependencies
                  [taskId]="todo.id"
                  (statusChanged)="onDependencyStatusChanged($event)">
              </app-task-dependencies>

            </mat-tab>
            <mat-tab label="Activity">

              <app-task-activity
                  [taskId]="todo.id">
              </app-task-activity>

            </mat-tab>

        </mat-tab-group>

        </section>

  </div>

}