<h2 mat-dialog-title>

  Search Task

</h2>

<mat-dialog-content class="content">

  <mat-form-field appearance="outline" class="search-field">

    <input matInput type="text" autocomplete="off" [formControl]="search" placeholder="Start typing..." />

    <mat-icon matPrefix>

      search

    </mat-icon>

  </mat-form-field>

  <div class="search-results-container">
    @if (loading()) {

    <div class="loading">

      <mat-spinner diameter="36"></mat-spinner>

    </div>

    } @else {

    @if (search.value.length < 2) { <div class="empty-state">

      <mat-icon>

        search

      </mat-icon>

      <p>

        Type at least 2 characters to search.

      </p>

  </div>

  } @else if (!hasResults()) {

  <div class="empty-state">

    <mat-icon>

      search_off

    </mat-icon>

    <p>

      No tasks found.

    </p>

  </div>

  } @else {

  <div class="results">

    @for (task of tasks(); track task.id) {

    <div class="result" [class.selected]="isSelected(task)" (click)="select(task)" (dblclick)="doubleClick(task)">

      <div class="description">

        {{ task.description }}

      </div>

    </div>

    }

  </div>

  }

  }
  </div>


</mat-dialog-content>

<mat-dialog-actions align="end">

  <button mat-button type="button" (click)="cancel()">

    Cancel

  </button>

  <button mat-flat-button color="primary" type="button" [disabled]="selected() === null" (click)="confirm()">

    Select

  </button>

</mat-dialog-actions>