<mat-toolbar class="toolbar">
  <span>Task App</span>

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <!-- NAVIGATION -->

    <button mat-menu-item (click)="goToDashboard()">
      <mat-icon class="menu-icon dashboard">dashboard</mat-icon>

      <span>Dashboard</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="goToSearch()">
      <mat-icon class="menu-icon auto_awesome">auto_awesome</mat-icon>

      <span>Search</span>
    </button>

    <button mat-menu-item (click)="goToTodos()">
      <mat-icon class="menu-icon todos-icon">checklist</mat-icon>

      <span>Todos</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="goToUsers()">
      <mat-icon class="menu-icon users-icon">people</mat-icon>

      <span>Users</span>
    </button>

    <button mat-menu-item (click)="goToUser()">
      <mat-icon class="menu-icon user-icon">person</mat-icon>

      <span>User Details</span>
    </button>

    <mat-divider></mat-divider>

    <!-- THEME -->

    <button mat-menu-item (click)="toggleTheme()">
      <mat-icon class="menu-icon theme-icon">dark_mode</mat-icon>

      <span>Toggle Theme</span>
    </button>

    <mat-divider></mat-divider>

    <!-- LOGOUT -->

    <button mat-menu-item (click)="logout()">
      <mat-icon class="menu-icon logout-icon">logout</mat-icon>

      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
