<h2 mat-dialog-title>
  {{ data.isEdit ? 'Edit Todo' : 'Create Todo' }}
</h2>

<form [formGroup]="form">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>

      <textarea matInput rows="4" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Due Date</mat-label>

      <input matInput type="datetime-local" formControlName="dueDate" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Labels</mat-label>

      <input matInput formControlName="labels" />
    </mat-form-field>

    <mat-form-field appearance="outline">

      <mat-label>
        Priority
      </mat-label>

      <mat-select formControlName="priority">

        <mat-option
          *ngFor="let option of priorityOptions"
          [value]="option.value">

          {{ option.label }}

        </mat-option>

      </mat-select>

    </mat-form-field>

    <mat-checkbox formControlName="isCompleted">Completed</mat-checkbox>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="button" mat-button mat-dialog-close>Cancel</button>

    <button
      type="button"
      mat-flat-button
      color="primary"
      (click)="save()"
      [disabled]="form.invalid || isSaving">
      Save
    </button>
  </mat-dialog-actions>
</form>
